POSTGRES_USER=changeme_dev_only
POSTGRES_PASSWORD=changeme_dev_only
POSTGRES_DB=changeme_dev_only
DB_HOST=changeme_dev_only
DB_PORT=changeme_dev_only
DB_USER=changeme_dev_only
DB_PASSWORD=changeme_dev_only
DB_NAME=changeme_dev_only
JWT_SECRET=changeme_dev_only
